*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html{
    font-size: 12px; 
} 
/* Header Section */ 
#header{
    background-color: #718c95;
    height: 10vh; 
}
.header-content{
    color: #E2DBBF;
    width: 80%;
    height: 100%; 
    margin: 0 auto;
    font-family: 'Caveat', cursive; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
}
.cart{
    display: flex;
}  
.cart h3{
    align-self: flex-end;
}

