*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html{
    font-size: 12px; 
}
body{
    font-family: 'Raleway', sans-serif;
} 
/* Header Section */ 
#header{
    background-color: #718c95;
    height: 10vh; 
}
.header-content{
    color: #E2DBBF;
    width: 80%;
    height: 100%; 
    margin: 0 auto;
    font-family: 'Caveat', cursive; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    max-width: 133rem;
}
.cart{
    display: flex;
}  
.cart h3{
    align-self: flex-end;
} 

/* Search Icon  */
.search-icon{
    display: none;
}

/* Hamburger Menu */ 
.hamburger-menu{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2rem;
    cursor: pointer; 
    z-index: 1;
} 
.hamburger-menu__lines,
.hamburger-menu__lines::before,
.hamburger-menu__lines::after{
    width: 2.5rem; 
    height: 0.3rem;
    background-color: black;
    transition: all 0.5s ease-in-out;
} 
.hamburger-menu__lines::before,
.hamburger-menu__lines::after{
    content: ""; 
    position: absolute;
}
.hamburger-menu__lines::before{
    transform: translateY(-0.8rem);
} 
.hamburger-menu__lines::after{
    transform: translateY(0.8rem);
} 
/* Hamburger Menu Animation */ 
.hamburger-menu.open .hamburger-menu__lines{
    transform: translateX(-3rem); 
    background-color: transparent;
}
.hamburger-menu.open .hamburger-menu__lines::before{
    transform: rotate(45deg) translate(2rem,-2rem); 
}
.hamburger-menu.open .hamburger-menu__lines::after{
    transform: rotate(-45deg) translate(2rem,2rem); 
}

/* Menu popup */
.menu-content{
    position: fixed;
    top: -50rem; 
    left: -50rem;
    width: 25rem; 
    height: 75vh; 
    background-color: #EFE8E8;
    font-size: 1.5rem;
    overflow-y: scroll; 
    box-shadow: 3px 2px 5px rgba(150, 150, 255,0.5);
    z-index: 1;
}
/* user type Section */
.user-type{
    display: flex; 
    flex-direction: column;
    padding: 1.5rem; 
} 
.user-type::after{
    content: ""; 
    width: 21rem; 
    height: 0.2rem;
    background-color: orangered;
    margin-top: 1.5rem;
}
.user-type .buyer{
    margin-bottom: 1rem;
}
.user-type label{
    margin-left: 0.5rem;
} 
/* .categories Section  */
.categories{
    padding: 0 1.5rem; 
    display: flex;
    flex-direction: column;
} 
.categories::after{
    content: "";
    width: 21rem; 
    height: 0.2rem; 
    background-color: orangered;
    margin-top: 1.5rem;
}
.categories div{
    display: flex;
    padding: 1rem 2rem; 
}
.categories span{
    align-self: center; 
    margin-left: 1rem;
}
.categories img{
    width: 2rem; 
    height: 2rem;
} 
/* Sort by Section  */ 
.sort-by{
    padding: 0 1.5rem;
    margin-top: 1rem; 
    display:flex;
    flex-direction: column;
    justify-content: center; 
}
.sort-by::after{
    content: "";
    width: 21rem; 
    height: 0.2rem; 
    background-color: orangered;
    margin-top: 1.5rem; 
}
.sort-by div{
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
}
.sort-by img{
    width: 25px; 
    height: 25px;
}
.sort-by label,.sort-by img{
    margin-left: 1rem;
}

/* Menu Cart */
.menu-content .cart{
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;  
    display: flex;  
    padding: 2rem; 

   
} 

/* Header Search Bar */
#header .search-bar{
    text-align: center;
    width: 90%;
    margin: 1rem auto;
}
#header .search{
    position: relative;
} 
#header .search-bar label{
    position: absolute;
    opacity: 0; 
} 

#header .search-bar img{
    position: absolute;
    top: 0.8rem;
    left: 0.8rem; 
    width: 1.6rem; 
    height: 1.6rem;
}
#header .search-bar input{
    width: 100%;
    height: 3.5rem;
    border: 2px solid orangered; 
    border-radius: 1.5rem;
    outline: none;
    padding-left: 3rem; 
    font-size: 2rem; 
}
#header .search-bar input[type="submit"] {
    position: absolute;
    opacity: 0;
}

/* Utility classes */ 
.show{
    animation: crawlIn 1s ease forwards;
} 
.hide{
    animation: crawlOut 1s ease forwards;
} 
.hide-search-bar{
    display:none;
}

/* Key Frames */ 
@keyframes crawlIn {
    0%{
        opacity: 0;
        top: -0.5rem;
        left: -0.5rem;
    } 
    50%{
        opacity: 0.5; 
        top: 15rem;
        left: 3rem;
    }
    100%{
        opacity: 1;
        top: 10rem;
        left: 0;
    }

} 

@keyframes crawlOut{
    0%{
        opacity: 1; 
        top: 11rem; 
        left: 5rem;
    }
    100%{
        opacity: 0; 
        top: 11rem; 
        left: -50rem;
    }
}


/* Media Queries */
@media (max-width:550px){
    #header{
        height: 15vh;
        min-width: 25rem;
    }
    .hamburger-menu{
        display: flex;
    }
    .header-content{
        width: 100%;
        justify-content: space-evenly;
    }
    .cart{
        display: none;
    }
    .search-icon{
        display: block;
        cursor: pointer;
    }
}
